.society-view-inner-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.head-font-style {
  font-weight: bold;
  font-size: 18px;
}
.view-society-outer {
  padding: 12px 40px;
}
.view-society-outer h3 {
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .view-society-outer {
    padding: 12px 14px;
  }
  .society-view-inner-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
