.padding-profile {
  padding-left: 12px !important;
}

.form-button-outer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 20px;
}

.userProfile-background {
  background-color: white;
  padding: 12px;
  margin-left: 20px;
  text-align: center;
}
.society-profile-inner {
  border-radius: 100px;
  background-color: white;
}
.society-cover-photo {
  background-image: url("../../../assets/Society_cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.profile-image-icon-outer {
  margin-top: -2rem;
  margin-left: 4rem;
  z-index: 12;
}
.profile-picture-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.profile-picture {
  display: none;
}
.profile-picture-style {
  display: none;
}
.profile-name-style {
  margin-top: 12px;
}
@media only screen and (max-width: 900px) {
  .userProfile-background {
    background-color: white;
    padding: 12px;
    margin-top: 20px;
    text-align: center;
    margin-left: 0px;
  }
}
.main-profile {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 900px) {
  .main-profile {
    display: flex;
    flex-direction: column;
  }
}
