.servant-file-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.view-servant-doc {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0px;
}
.image-style{
  background-image: url("../../../../../assets/Doc.jpg");
  background-size: cover;
  /* height: 12px; */
}