.auth_page {
  background-image: var(--auth-img);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-x: hidden;
  padding: 80px 0px;
}

.auth_form {
  height: 100%;
  background: radial-gradient(
    91.5% 91.5% at 8.52% 8.5%,
    rgba(255, 255, 255, 0.75) 0%,
    rgba(255, 255, 255, 0.45) 100%
  );
  backdrop-filter: blur(10px);
  padding: 20px 40px;
  margin: 0px 10px;
  border-radius: 1rem;
}

.logo_img {
  height: 202px;
  padding-left: 9%;
  margin-top: -2%;
}

.logo_wrapper {
  text-align: left;
}

.auth_form__heading {
  color: #292929;
  margin: 0px;
  font-size: 25px;
}

.auth_form__subject {
  color: #5c5c5c;
  font-size: 17px;
  margin: 0px;
}

@media screen and (max-width: 992px) {
  .logo_wrapper {
    text-align: center;
  }
  .logo_img {
    padding-left: 0%;
    margin-top: -8%;
  }
}

@media screen and (max-width: 576px) {
  .auth_page {
    padding: 60px 0px;
  }
}
