.society_btn__wrapper {
  width: 20%;
  /* margin: 0 auto; */
}
.society_btn__wrapper a{
  text-decoration: none;
  color: white;
}
.society-radio-outer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 12px;

}
.society-radio-inner {
  display: flex;
}
.society-radio-inner p {
  margin-top: 20px;
}
.society-radio-outer h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}


/* .margin-index
{
  margin-top: 2%;
}

.margin-index-1{
  margin-top: 1.4%;
}

.margin-index-3{
  margin-top: 0%;
}


@media screen and (max-width: 800px) {
  .margin-index
  {
    margin-top: 0%;
  }
  
  .margin-index-2{
    margin-top: -2%;
  }
  .margin-index-3{
    margin-top: -2%;
  }
  .margin-index-4{
    margin-top: -2%;
  }
} */