.card-background {
  background-color: white;
  /* border: 1px solid grey; */
  padding-left: 1% !important;
  padding-right: 1% !important;
}

.background-color-header {
  background-color: #2f5351;
  color: white;
}

.background-color-header1 {
  /* border: 1px solid grey; */
  padding-top: 1%;
  padding-bottom: 1%;
}

.cardheight{
  height: 40vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid rgb(102, 102, 102);
}
.cardheight::-webkit-scrollbar{
display: none;
}


.paddingcard{
  padding-left: 4% !important;
}